.input {
	flex: 1 1 auto;
	height: 100%;
	outline: none;
	font-size: 18px;
	line-height: 21.09px;
}

.input::placeholder {
	color: #696969;
}

.input:focus::placeholder {
	color: transparent;
	transition: 0.3s;
}
