* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

ul li {
	list-style: none;
}

body {
	background-color: #f1f1f1;
}

.wrapper {
	font-family: "Roboto";
	width: 600px;
	height: 435px;
	margin: 150px auto 0;
	background-color: #fff;
	border: 1px solid #000;
	outline: 10px solid #fff;
}
